@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  background: #f9fafb;
  overflow-x: hidden;
}

/* Custom animation for spinner */
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: spin 1s linear infinite;
}
